<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--自定义工作项,name请与下面的job节点名保持一致，type值不要修改，固定。-->
    <section name="newOrders" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="unExtOrders" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="unThreeStool" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="stopOrders" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="inspectionReport" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="opetationInfo" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="zhuanruNews" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="TongBuHisOrders" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
    <section name="unPutDispensedCheck" type="TimerManageRunningService.Base.ServiceTools,TimerManageRunningService" />
  </configSections>
  <newOrders>
    <!--调度名称-->
    <add key="description" value="新医嘱" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.newOrders,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="23:59:59" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="300" />
  </newOrders>
  <stopOrders>
    <!--调度名称-->
    <add key="description" value="停止医嘱" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.stopOrders,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="23:59:59" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="300" />
  </stopOrders>
  <unExtOrders>
    <!--任务调度名称-->
    <add key="description" value="未执行医嘱" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.UnExtOrders,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="00:53:10" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="3600" />
  </unExtOrders>
  <unThreeStool>
    <!--任务调度名称-->
    <add key="description" value="三天未大便" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.unThreeStool,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="0" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="08:00:00" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="5" />
  </unThreeStool>
  <inspectionReport>
    <!--调度名称-->
    <add key="description" value="检查检验报告" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.inspectionReport,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="23:59:59" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="600" />
  </inspectionReport>
  <opetationInfo>
    <!--调度名称-->
    <add key="description" value="当日手术提醒" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.opetationInfo,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="0" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="08:00:00" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="600" />
  </opetationInfo>
  <zhuanruNews>
    <!--调度名称-->
    <add key="description" value="检查检验报告" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.zhuanruNews,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="23:59:59" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="600" />
  </zhuanruNews>
  <TongBuHisOrders>
    <!--调度名称-->
    <add key="description" value="同步His医嘱信息" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.TongBuHisOrders,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="1" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="23:59:59" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="3600" />
  </TongBuHisOrders>
  <unPutDispensedCheck>
    <!--任务调度名称-->
    <add key="description" value="摆配液核对" />
    <!--是否启用-->
    <add key="enabled" value="true" />
    <!--需要执行的任务所在的类和程序集-->
    <add key="assembly" value="newsDataManage.unPutDispensedCheck,newsDataManage" />
    <!--执行模式（0定时执行，1按设定的时间间隔执行）-->
    <add key="runningType" value="0" />
    <!--执行开始时间（大于这个时间才会执行）（一般不需要改）-->
    <add key="startTime" value="2010-01-01 01:00:00" />
    <!--固定时间执行间隔（1为月，2为星期，3为天）-->
    <add key="intervalType" value="3" />
    <!--执行日期，（当intervalType=1时value范围为-1至30，-1为每月最后一天，当intervalType=2时value范围为0至6,0代表周日，当intervalType=3时value无意义）（runningType=0时有效）-->
    <add key="runningDate" value="0" />
    <!--执行时间（格式为HH:MM:SS）（runningType=0时有效）-->
    <add key="runningTime" value="08:00:00" />
    <!--执行频率（单位为秒）（例如每5秒钟执行一次：5，每1分执行一次:60）（runningType=1时有效）-->
    <add key="intervalTime" value="5" />
  </unPutDispensedCheck>
  <connectionStrings>
    <add name="MNSContext" connectionString="Data Source=139.129.192.200;user id=sa;password=sladmin;Initial Catalog=BNNursingDocsSystem_Develop;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FrameConnectString" connectionString="Data Source=139.129.192.200;user id=sa;password=sladmin;Initial Catalog=BayNexus;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MNSConnectString" connectionString="Data Source=139.129.192.200;user id=sa;password=sladmin;Initial Catalog=BNNursingDocsSystem_Develop;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="is_formal" value="0" />
    <add key="ORDERS" value="V_YDHL_ORDERS" />
    <add key="PATIENT" value="V_YDHL_PATIENT" />
    <add key="CHECK_VIEW" value="V_YDHL_CHECK_VIEW" />
    <add key="OPERATION_REC" value="V_YDHL_OPERATION_REC" />
    <add key="V_YDHL_TRANSFER" value="V_YDHL_TRANSFER" />
    <!--获取新医嘱、停止医嘱频率（单位秒）-->
    <add key="OrderExtInterval" value="300" />
    <!--获取检查检验报告频率（单位秒）-->
    <add key="CheckInterval" value="600" />
    <!--获取转科病人频率（单位秒）-->
    <add key="zhuanruInterval" value="600" />
    <add key="PDAWebServiceUrl" value="http://139.129.192.200:8808/Service1.asmx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>